.hero-section{
    margin-bottom: 146px;
    .main-title{
        font-size: 64px;
        line-height: 127.5%;
        margin-bottom: 60px;
    }
    .left-side{
        ul{
            list-style-type: decimal;
            padding-left: 25px;
            font-weight: 500;
            margin-top: 21px;
            margin-bottom: 0px;
            line-height: 183.3%;
        }
    }
    .right-side{
        .gif-container{
            background-color: $primary;
            /*padding: 102px 0px 52px;*/
            text-align: center;
            img{
                /*width: 432px;*/
                height: auto;
            }
        }
    }
    /* desktop */
    @media(min-width:992px){
        .left-side{
            .main-title{
                width: 947px;
                position: relative;
                z-index:1;
            }
        }
        .right-side{
            .gif-container{
                height: 526px;
                margin-top: -175px;
            }
        }
    }
    @media(max-width:991px){
        &.new{
            padding: 0px;

            .right-side{
                margin-bottom: 52px;
                .gif-container{
                    display: flex;
                    width: 100%;
                    background-color: transparent;
                    .main-title{
                        padding: 57px 13px 57px 21px;
                        width: 50%;
                        margin: 0px;
                        position: relative;
                        z-index: 1;
                    }
                    img{
                        position: absolute;
                        right: 0;
                    }
                    .bg-element{
                        padding: 57px 13px 57px 21px;
                        width: 50%;
                        background-color: $primary;
                        color: transparent;
                        height: 238px;
                        position: absolute;
                        left: 0;
                        .main-title{
                            font-size: 24px;
                        }
                    }
                }
            }
            .left-side{
                padding-left: 20px !important; 
                padding-right: 20px !important;
            }
        }
    }
    /* mobile + tablet */
    @media(max-width:768px){
        margin-bottom: 51px;
        .main-title{
            /*font-size: 32px;*/
            font-size: 24px; //new markup
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .right-side{
            position:relative; //new markup
            .gif-container{
                /*width: 209px;*/
                /*padding: 7px 40px 8px;*/
                img{
                    width: 209px;
                }
            }
        }
        .left-side{
            ul{
                margin-top: 24px;
                font-size: 18px;
            }
        }
        &.new{
            .right-side{
                .gif-container{
                    img{
                        width: auto;
                        height: 290px;
                    }
                }
            }
        }
    }
}